body {
    margin: 0;
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    font-family: body;
    
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
        "nav nav nav"
        "main main aside"
        "footer footer footer";
}

footer {
    grid-area: footer;
    color: #e5e5e5;
}

main {
    grid-area: main;
}

.navigation {
    margin: 0;
    margin-right: -24em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "home port blog contact";
    z-index: 1000;
}

.link {
    color: #e5e5e5;
}

.nav.link {
    margin: 0;
    opacity: 90%;
    font-family: headers;
    font-size: x-large;
    background-color: #000000;
    color: #f29602;
    text-decoration: none;
    text-align: center;
    border-bottom: 0.1em solid #000000;
}

.link > h2 {
    margin: 0;
}


nav > .link:hover {
    border-bottom: 0.1em solid #32cd32;
}

.link #home {
    grid-area: home;
}

.link #port {
    grid-area: port;
}

.link #blog {
    grid-area: blog;
}

.link #contact {
    grid-area: contact;
}

#contact {
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
}

.moreInfo {
    position: relative;
}

.moreInfo:hover .extraInfo {
    display:inline-block;
}

.extraInfo {
    white-space: nowrap;
    margin-top: -1.2em;
    margin-left: -2em;
    background-color: #000000;
    color: #e5e5e5;
    display: none;
    z-index: 1000;
    position: absolute;
}

@font-face {
    font-family: headers;
    src: url(../assets/fonts/game_over.woff);
}

@font-face {
    font-family: body;
    src: url("../assets/fonts/AmaticSC-Regular.woff");
}