li {
    background-color: #000000;
    list-style: none;
    margin-bottom: 1em;
}

ol {
    padding: 0;
    margin-right: 2em;
}

img {
    max-width: 10em;
    transform: scale(1);
    transition: transform 1s;
}

img:active {
    position: relative;
    z-index: 100;
    top: 5em;
    right: 20em;
    transform: scale(10);
}

