form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30% 10%;
    gap: 1em;
    margin-left: 27em;
    background-color: rgba(0, 0, 0, 90%);
    border-radius: 1em;
    min-width: 42em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

input {
    margin-top: 1em;
    border-radius: 1em;
    padding-left: 0.5em;
    background-color: #181a1b;
}

textarea {
    border-radius: 1em;
    border: none;
    max-width: 41em;
    font-family: body;
    accent-color: #f29602;
    background-color: #181a1b;
}

input {
    border: none;
    font-family: body;
    accent-color: #f29602;
}

input::placeholder {
    color: #d8d4cf;
}

input[type="radio"] {
    accent-color: #f29602;
}

#contact_details {
    grid-row: 1;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 0.2em;
}

#contact_details > input {
    min-width: 40em;
}

#contact_reason {
    grid-row: 2;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0.2em;
}

#contact_body {
    grid-row: 3;
}

#contact_body > textarea {
    min-width: 40em;
}

input[type="submit"] {
    grid-row: 4;
    max-width: 10em;
}

#reason_answer {
    margin-left: 1em;
    min-width: 40em;
    padding-top: 0.5em;
}

footer > a {
    margin-left: 1em;
}

